/* PALETA
* Oranz - rgb(250,105,0)
* Oranz/2 - rgb(243,134,48)
* Sed - rgb(224,228,204)
* Modr/2 - rgb(167,219,219)
* Modr - rgb(105,210,231)
*/

h1{
    margin: 5px 0 10px;
    font-weight: bold;
    padding: 5px 5px;
    color: #ea533f;    
    font-size: 24px;
}

/* Obecne */
.center-text{
    text-align: center;
}

thead.center-text tr th{
    text-align: center;
}

.wsn{
    white-space: nowrap;
}

.mr5{
    margin-right: 5px;
}

/* WRAPPER - obaluje celou stránku */
.wrapper {
    min-height: 100%;
    position: relative;
}

.wrapper, .main-sidebar, .left-side {
    background-color: #f7f7f7;
}

/* HEADER - vrchní lišta s logem a navigací */
.header nav {
    background-color: #fff;
    padding:0;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
    overflow: hidden;
}

.header a { /*  odkazy */
    color: #666;
}

.header .navbar-nav{ /*  navigace */
    margin: 0;
}

.header .nav li{ /*  polozky navigace */
    border-left:1px solid #ebebeb;
    float:left;
}

.header .nav li a:hover{
    background-color: #fbfbfb;
}

#logo { /*  logo */
    background-color: #f7f7f7;
    height: 51px;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding: 15px 20px;
    min-width: 120px;
}
#logo img{
    height: 100%;
}

/* CONTENT - obsah */
.content-wrapper{ /*  wrapper obsahu */
    float:right;
    min-height: 400px;
    background-color: #fff;
    padding:20px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.content-header > h1 > small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}

/* MENU - leve */
.main-menu{ 
    margin: 0;
    padding: 0;
    float: left;
}

@media (max-width: 992px){ /*  pro sm a xs */
    .main-menu{
        width:48px;
    }
    .main-menu li a span{
        display: none;
    }
    .content-wrapper{
        width: calc(100% - 48px);
    }
    .header .nav li a{
        height: 50px;
        padding-top: 15px;
    }
}


.main-menu ul { /*  menu */
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li { /*  polozky menu */
    font-size: 15px;
    color: #666666;
    text-decoration: none;
    text-shadow: 1px 1px #ffffff;
}

.main-menu li a { /*  odkazy menu */
    padding: 12px 15px 12px 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    background-color: #f7f7f7;
    display: block;
    color: #666;
    text-decoration: none;
    min-height: 45px;
}

.main-menu li a:hover {
    background-color: #fbfbfb;
}

.main-menu li a:active,
.main-menu li a.active { /*  aktivni odkaz */
    padding-left: 10px;
    border-left: 5px solid #ea533f;
    background-color: #fff;
    border-right: none;
    background-image: none;
    color: #333333;
}

.main-menu li a:active {
    border-left-color: #666666;
}

.main-menu li a i{ /*  ikony odkazu */
    float:right;
    margin-top: 2px;
}

#menu-keeper{ /*  opticky prodlouzi menu na vysku stranky */
    background-color: #f7f7f7;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    min-width: 48px;
}

/* TABULKY */
.table-overlay{
    width:100%;
    height:100%;
    background-color: rgba(167,219,219, 0.8) !important;
    display: none;
    position: absolute;
    top:0;
    right: 0;
    z-index:100;
}

.table-pointer tbody tr{
    cursor: pointer;
}

.table-overlay button{
    margin: auto 5px;
}

.table-responsive{
    position: relative;
    height: 100%;
}

table tr.editing td{
    padding:2px 5px;
}

table tr.editing input{
    border:none;
    width:100%;
    height: 30px;
}


/* TABULKA PENĚŽNÍHO DENÍKU */
#diary-table thead{
    background-color: #f7f7f7;
}

#diary-table tbody tr td:nth-child(5),
#diary-table tbody tr td:nth-child(6),
#diary-table tbody tr td:nth-child(7),
#diary-table tbody tr td:nth-child(8){
    background-color: #F0FFF0;
}
#diary-table tbody tr td:nth-child(9),
#diary-table tbody tr td:nth-child(10),
#diary-table tbody tr td:nth-child(11),
#diary-table tbody tr td:nth-child(12){
    background-color: #ffe5e5;
}

#diary-table tbody tr:hover td:nth-child(5),
#diary-table tbody tr:hover td:nth-child(6),
#diary-table tbody tr:hover td:nth-child(7),
#diary-table tbody tr:hover td:nth-child(8){
    background-color: #C1FFC1;
}
#diary-table tbody tr:hover td:nth-child(9),
#diary-table tbody tr:hover td:nth-child(10),
#diary-table tbody tr:hover td:nth-child(11),
#diary-table tbody tr:hover td:nth-child(12){
    background-color: #EEB4B4;
}

#diary-table .new a{
    text-align: center;
    display: block;
}

/* Tabulka TODO list */
#todo-table thead{
    background-color: #f7f7f7;
}

#todo-table .new a{
    text-align: center;
    display: block;
}

/* Tabulka poznamky in todo list */
#notes-table thead{
    background-color: #f7f7f7;
}

#notes-table .new a{
    text-align: center;
    display: block;
}

/* Tabulky DASHBOARDU */
#dash-table6 tbody tr:nth-child(1) td:nth-child(2),
#dash-table6 tbody tr:nth-child(2) td:nth-child(2),
#dash-table6 tbody tr:nth-child(5) td:nth-child(2){
    background-color: #C1FFC1;
}

#dash-table6 tbody tr:nth-child(3) td:nth-child(2),
#dash-table6 tbody tr:nth-child(4) td:nth-child(2){
    background-color: #EEB4B4;
}

/* Tabulky Zakazky*/
#zakazky-table thead{
    background-color: #f7f7f7;
}

#zakazky-table tbody tr:nth-child(4) td:nth-child(1),
#zakazky-table tbody tr:nth-child(4) td:nth-child(2) {
    background-color: #C1FFC1;
}

#zakazky2-table thead{
    background-color: #f7f7f7;
}

#zakazky2-table tbody tr:nth-child(6) td:nth-child(1),
#zakazky2-table tbody tr:nth-child(6) td:nth-child(2) {
    background-color: #EEB4B4;
}
/*Svetle casti*/
#zakazky-table tbody tr:nth-child(1) td:nth-child(3) {
    background-color: #F0FFF0;
}
#zakazky-table tbody tr:nth-child(2) td:nth-child(3) {
    background-color: #ffe5e5;
}
#zakazky-table tbody tr:nth-child(3) td:nth-child(3) {
    background-color: #ffe5e5;
}

#zakazky2-table tbody tr:nth-child(1) td:nth-child(3) {
    background-color: #F0FFF0;
}
#zakazky2-table tbody tr:nth-child(2) td:nth-child(3) {
    background-color: #ffe5e5;
}
#zakazky2-table tbody tr:nth-child(3) td:nth-child(3) {
    background-color: #ffe5e5;
}
#zakazky2-table tbody tr:nth-child(4) td:nth-child(3) {
    background-color: #F0FFF0;
}
#zakazky2-table tbody tr:nth-child(5) td:nth-child(3) {
    background-color: #ffe5e5;
}

/* Kalkulačka */

#display {
    border: 1px solid #aaa;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: auto;
    margin-bottom: 5px;
    text-align: right;
    padding: 0 5px;
    cursor: auto;
}

#calculator table td {
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #333;
    cursor: pointer;
}

#calculator table td:hover {
    background: #fff;
}

.operation, .clear {
    background: #d6d6d6;
    border: 1px solid #c6c6c6;
}

.clear  {
    background: #c9302c;
    font-weight: bold;
}

.clear:hover  {
    background: #d9534f!important;
}

.number, .dot {
    background: #f5f5f5;
    border: 1px solid #dedede;
}

.equal {
    background: #4084f2;
    border: 1px solid #3079ed;
    color: #fff !important;
}
.equal:hover {
    background: #62a6f4 !important;
}



/*Bashboard styles*/
.panel-warning .panel-heading:hover {
    background: #cc6600 !important;
}

.panel-warning .panel-heading {
    background: #e79712;
    color: white ;
    font-weight: bold;
}

.panel-danger .panel-heading:hover {
    background: #990000;
}

.panel-danger .panel-heading {
    background: #b9231f;
    color: white;
    font-weight: bold;
}

.panel-primary .panel-heading:hover{
    background: #114e9e;
}

.panel-primary .panel-heading {
    color: white;
    font-weight: bold;
}

.panel-success .panel-heading:hover {
    background: #006600;
}

.panel-success .panel-heading {
    background: #339933;
    color: white;
    font-weight: bold;
}

.panel-info .panel-heading {
    background: #0099cc;
    color: white;
    font-weight: bold;
}